<%- include('header') %>
<form method="GET" action="/cotacao">
  <input name="cot" placeholder="Cotação dolar" />
  <br />
  <input name="qtd" placeholder="Quantidade de dolares" />
  <br />
  <button>Converter!</button>
</form>
<%- include('footer') %>
